<p id="notice"><%= notice %></p>

<p>
  <%= t('activerecord.attributes.rent_house.name') %>:
  <%= @rent_house.name %>
</p>

<p>
  <%= t('activerecord.attributes.rent_house.rent') %>:
  <%= @rent_house.rent %>
</p>

<p>
  <%= t('activerecord.attributes.rent_house.address') %>:
  <%= @rent_house.address %>
</p>

<p>
  <%= t('activerecord.attributes.rent_house.age') %>:
  <%= @rent_house.age %>
</p>

<p>
  <%= t('activerecord.attributes.rent_house.remarks') %>:
  <%= @rent_house.remarks %>
</p>

<%= link_to 'Edit', edit_rent_house_path(@rent_house) %> |
<%= link_to 'Back', rent_houses_path %>
